<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the <%=title%> Page<h1>
  </main>
  
  <div class="containerh">
    <img src="../Assets/images/OIP.png" alt="Profile Picture">
    <h1 class="hheader">KIRTI VERMA</h1>
    <p class="hpara">Hi!I am a Software  technician and i have a keen interest in learning new things.</p>
    <p class="hpara">Feel free to contact me for any projects or opportunities!</p>
    <p class="hpara">Mission:-Today, consumers are everywhere. They look at websites, they look at Facebook and twitter, they look at letterhead, and they look at everything else in order to determine whether a company is "worthy" of doing business with them. If you fail to provide a professional image in any one of these areas, you may fail to obtain the level of business and thus the level of success that needs to be achieved. Our mission is to help with your professionalism through the services that we offer.</p>
    <a href="/about"><button  class= "hbutton">About Us</button></a>
    
  </div>
  
  <!--Script section-->
  <%-include partials/bottom_nav.ejs%>
  <%-include partials/footer.ejs%>

